@media (max-width: 1520px) {
    .small-boxes {
        width: 419px;
        height: 478px;
    }
    .article-image img {
        width: 420px;
    }
    .more {
        margin: 25px 0 0 360px;
    }
    .third-image {
        height: 259px;
    }
}
@media (max-width: 1320px) {
    .small-boxes {
        width: 364px;
        height: 419px;
    }
    .article-image img {
        width: 364px;
    }
    .more {
        margin: 25px 0 0 301px;
    }
    .third-image {
        height: 223px;
    }
}
@media (max-width: 1143px) {
    .article-image img {
        width: 300px;
    }
    .third-image {
        height: 184px;
    }
    .small-boxes {
        width: 300px;
        height: 371px;
    }
    .more {
        margin: 25px 0 0 245px;
    }
}
@media (max-width: 950px) {
    .article-image img {
        width: 483px;
    }
    .third-image {
        height: 294px;
    }
    .small-boxes {
        margin-top: 15px;
        width: 483px;
        height: 571px;
    }
    .more {
        margin: 25px 0 0 430px;
    }
    .small-box-container {
        justify-content: space-around;
    }
    .popular-articles {
        text-align: center;
        margin-top: 220px;
    }
    .title-container {
        justify-content: center;
    }
    .image-section {
        height: 411px;
        background-image: url(../images/responsive.jpg);
    }
    .box-title {
        height: 275px;
    }
}
@media (max-width: 820px) {
    .navigation-responsive {
        display: none;
    }
    .burger-icon {
        display: block;
        margin-right: 20px;
    }
    .icon-logo {
        margin-left: 20px;
    }
    .small-box-container {
        margin: 10px 10px;
    }
    .second-container {
        margin-top: 10px;
    }
}
