/*base clases*/
.responsive {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}
.item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */
.header-container {
    margin-top: 37px;
}
.icon-logo:before {
    color: black;
    font-size: 95.04px;
}
.ul-navigation {
    display: flex;
}
.li-navigation {
    margin-right: 53px;
}
.a-nav {
    color: #707070;
    font-size: 20px;
    font-family: 'ArchyEDT-Bold';
}
.icon-search2:before {
    font-size: 25.5px;
    color: #707070;
    margin-left: 10px;
}

/*background section*/
.image-section {
    margin-top: 42px;
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 613px;
}
.title-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 285px;
}
.box-title p {
    text-align: center;
    font-size: 40px;
    font-family: 'ArchyEDT-Bold';
    color: #707070;
}
.box-title {
    border: solid;
    max-width: 674px;
    height: 328px;
    width: 100%;
    background-color: white;
}